*{
    box-sizing: border-box;
    font-family: "Kanit", "sans-serif";
    justify-content: center;
}

body{
    place-items: center;
}


.footer{
    background-color: rgb(122, 122, 122);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #555 2px solid;
    z-index: 1;
}

.footer-col{
    padding:0 15px;
}
.footer h6{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    opacity: 0.7;
    
}

/* footer responsive start*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
        
    }
}

/* footer responsive end*/